<form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
  <nz-form-item>
    <nz-form-control [nzSpan]="24">
      <nz-select id="module" formControlName="module" nzPlaceHolder="Escolha um módulo para exibir campos personalizados" (ngModelChange)="selectFormFields($event)">
        <nz-option nzValue="{{module.id}}" nzLabel="{{module.name}}" *ngFor="let module of modules"></nz-option>
      </nz-select>
      <nz-form-explain *ngIf="validateForm.get('module').dirty && validateForm.get('module').errors">Selecione um módulo</nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control [nzSpan]="24" nzHasFeedback>
      <input type="text" nz-input formControlName="name" placeholder="Nome">
      <nz-form-explain *ngIf="validateForm.get('name').dirty&&validateForm.get('name').errors">
        <ng-container *ngIf="validateForm.get('name').hasError('required')">
          Insira seu email
        </ng-container>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control [nzSpan]="24" nzHasFeedback>
      <input type="text" nz-input formControlName="email" placeholder="Email">
      <nz-form-explain *ngIf="validateForm.get('email').dirty&&validateForm.get('email').errors">
        <ng-container *ngIf="validateForm.get('email').hasError('email')">
          Insira um email válido
        </ng-container>
        <ng-container *ngIf="validateForm.get('email').hasError('required')">
          Insira seu email
        </ng-container>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control [nzSpan]="24" nzHasFeedback>
      <input type="text" nz-input formControlName="surname" placeholder="Sobrenome">
    </nz-form-control>
  </nz-form-item>
  <div>
    <nz-spin *ngIf="loadingFormFields"></nz-spin>
    <nz-form-item *ngFor="let field of formFields">
      <nz-form-control [nzSpan]="24">
        <input type="text" nz-input formControlName="{{field.id}}" placeholder="{{field.label}}">
      </nz-form-control>
    </nz-form-item>
  </div>

  <nz-form-item>
    <nz-form-control [nzOffset]="7" [nzSpan]="12">
      <button [nzLoading]="loadingSendingForm" nz-button nzType="primary" [disabled]="!validateForm.valid" >Cadastrar</button>
    </nz-form-control>
  </nz-form-item>
</form>
