<form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
  <nz-form-item>
    <nz-form-control [nzSpan]="24" nzHasFeedback>
      <input type="text" nz-input formControlName="label" placeholder="Label">
      <nz-form-explain *ngIf="validateForm.get('label').dirty&&validateForm.get('label').errors">
        <ng-container *ngIf="validateForm.get('label').hasError('required')">
          Insira seu email
        </ng-container>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control [nzSpan]="24">
      <nz-select id="type" formControlName="type" nzPlaceHolder="Escolha um tipo">
        <nz-option nzValue="text" nzLabel="Texto"></nz-option>
        <nz-option nzValue="password" nzLabel="Password"></nz-option>
      </nz-select>
      <nz-form-explain *ngIf="validateForm.get('type').dirty && validateForm.get('type').errors">Selecione um tipo</nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control [nzOffset]="7" [nzSpan]="12">
      <button [nzLoading]="loadingSendingForm" nz-button nzType="primary" [disabled]="!validateForm.valid" >Adicionar</button>
    </nz-form-control>
  </nz-form-item>
</form>
