<form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
  <nz-form-item>
    <nz-form-control [nzSpan]="24" nzHasFeedback>
      <input type="text" nz-input formControlName="name" placeholder="Nome do Módulo">
      <nz-form-explain *ngIf="validateForm.get('name').dirty&&validateForm.get('name').errors">
        <ng-container *ngIf="validateForm.get('name').hasError('required')">
          Insira o nome do Módulo
        </ng-container>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control [nzSpan]="24" nzHasFeedback>
      <input type="color" nz-input formControlName="color" placeholder="Cor de Fundo">
      <nz-form-explain *ngIf="validateForm.get('color').dirty&&validateForm.get('color').errors">
        <ng-container *ngIf="validateForm.get('color').hasError('required')">
          Insira a cor de fundo no funil
        </ng-container>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control [nzOffset]="7" [nzSpan]="12">
      <button [nzLoading]="loadingSendingForm" nz-button nzType="primary" [disabled]="!validateForm.valid" >Adicionar</button>
    </nz-form-control>
  </nz-form-item>
</form>
