<nz-header class="nav">
  <ul nz-menu [nzMode]="'horizontal'" [nzTheme]="'dark'">
    <li nz-menu-item>
      <a routerLink="/">
        <i nz-icon type="table"></i> Funil
      </a>
    </li>
    <li nz-menu-item>
      <a routerLink="/modules">
        <i nz-icon type="table"></i> Módulos e Formulários
      </a>
    </li>
  </ul>
</nz-header>
