<div nz-row nzGutter="24">
  <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="12" nzXl="12" class="funil_container">
    <nz-card [nzLoading]="loadingFunil" nzTitle="Funil de Vendas">
      <div class="trapezio_invertido trans5ease"
           [ngClass]="module.id === selectedModule.id ? 'active_module' : ''"
           *ngFor="let module of modules"
           (click)="selectModule(module)"
           [ngStyle]="setBlockStyle(module)">
      </div>
      <nz-divider></nz-divider>
      <div class="legenda"  *ngFor="let module of modules">
        <span  [ngStyle]="{'background-color': module.color}" ></span>
        <span>{{module.name}}</span>
      </div>
    </nz-card>
  </div>
  <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="12" nzXl="12">
    <nz-card [nzLoading]="loadingLeads" nzTitle="Leads: {{selectedModule.name}}" [nzExtra]="adicionarLead">
      <h4 *ngIf="!leads">Nenhuma etapa selecionada. Clique em um bloco ao lado para exibir os leads</h4>
      <nz-table #nzLeadsTable *ngIf="leads" [nzData]="leads" [nzPageSize]="10">
        <thead>
        <tr>
          <th nzShowExpand></th>
          <th>Nome</th>
          <th>Email</th>
        </tr>
        </thead>
        <tbody>
        <ng-template ngFor let-lead [ngForOf]="nzLeadsTable.data">
          <tr>
            <td nzShowExpand [(nzExpand)]="lead.expand"></td>
            <td>{{lead.name}}</td>
            <td>{{lead.email}}</td>
          </tr>
          <tr [nzExpand]="lead.expand">
            <td colspan="3">
              <h1>{{lead.name}}</h1>
            </td>
          </tr>
        </ng-template>
        </tbody>
      </nz-table>
    </nz-card>
  </div>
</div>

<ng-template #adicionarLead>
  <button class="pull-right" nz-button nzType="primary" (click)="openAdicionarLeadModa()">
    <span>Adicionar Lead</span>
  </button>
</ng-template>
