.trapezio_invertido {
  border-top: 3.5em solid #c1c1c1;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  height: 0;
  display: block;
  margin: 0 auto;
  padding-top: 0.5em;
  cursor: pointer;
}

.trapezio_invertido span{
  margin-top: -3.5em;
  position: absolute;
}

.trapezio_invertido:hover, .active_module{
  opacity: 0.5;
}

.trans5ease{
  transition: all 0.5s ease;
}

.legenda span:nth-child(1){
  width: 1em;
  height: 1em;
  display: block;
  float: left;
  margin-right: 1em;
}

