<div nz-row nzGutter="24">
  <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="12" nzXl="12" class="funil_container">
    <nz-card [nzLoading]="loadingModules" nzTitle="Módulos" [nzExtra]="adicionarModulo">
      <h4>Clique e arraste para modificar a ordem</h4>
      <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let module of modules" cdkDrag>{{module.name}}</div>
      </div>
    </nz-card>
  </div>
  <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="12" nzXl="12" class="funil_container">
    <nz-card nzTitle="Formulários">
      <h4>Utilize esta área para criar campos personalizados para os formulários</h4>
      <nz-divider></nz-divider>
      <div nz-row nzType="flex" nzJustify="right" nzGutter="24">
        <div nz-col nzSpan="12">
          <nz-select style="width: 100%;" [(ngModel)]="selectedModule" (ngModelChange)="selectModule($event)" nzAllowClear nzPlaceHolder="Selecionar módulo">
            <nz-option nzValue="{{module.id}}" nzLabel="{{module.name}}"*ngFor="let module of modules" >{{module.name}}</nz-option>
          </nz-select>
        </div>
        <div nz-col nzSpan="12" *ngIf="selectedModule">
          <button class="pull-right" nz-button nzType="primary" (click)="openAdicionarFormFieldModal()" >
            <span>Adicionar Campo</span>
          </button>
        </div>
      </div>

      <nz-divider></nz-divider>
      <nz-spin *ngIf="loadingFormFields"></nz-spin>
      <nz-table *ngIf="formFields" #formFieldsTable [nzData]="formFields">
        <thead>
        <tr>
          <th>Label</th>
          <th>Type</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let data of formFieldsTable.data">
          <td>{{data.label}}</td>
          <td>{{data.type}}</td>
          <td>
            <a nz-popconfirm nzTitle="Tem certeza que deseja excluir?" (nzOnConfirm)="deleteFormField(data)">Excluir</a>
          </td>
        </tr>
        </tbody>
      </nz-table>
    </nz-card>
  </div>
</div>

<ng-template #adicionarModulo>
  <button class="pull-right" nz-button nzType="primary" (click)="openAdicionarModule()">
    <span>Adicionar Módulo</span>
  </button>
</ng-template>
